.u-container {
  transition: all 1000ms ease-out;
  padding: 0 15px;
}

@include breakpoint(medium) {
  .u-container {
      max-width: 750px;
      position: relative;
      margin: 0 auto;
  }
}

@include breakpoint(large) {
  .u-container {
    max-width: 970px;
  }
}

@include breakpoint(1440px) {
  .u-container {
    max-width: 1170px;
  }
}