.o-social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;

  li {
    padding: 3px;
  }

  a {
    text-decoration: none;
    transition: all 200ms ease-in;
  }
}

.o-social li:hover {
  a {
    color: $aqua-500;
  }
}