.o-title {
  font-family: $font-secondary;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.055em;
  color: $black-800;
}

.o-title--thin {
  font-weight: 100;
}

.o-title--small {
  font-size: 18px;
  letter-spacing: 0.1em;
}

.o-subtitle {
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.13em;
  color: $black-800;
}

/*temporary*/
.temporary_div {
  width: 500px;
  height: 300px;
  background-color: $black-500;
}
/*temporary*/

.o-blog__title {
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 0.06em;
  color: $white-900;
}

.o-blog__date {
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: $white-900;
  text-align: center;
}

.o-paragraph {
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.02em;
  line-height: 1.7em;
  color: $black-800;
}

.o-blog__paragraph {
  color: $white-900;
}