// Vendor
@import 'normalize';

// Settings
@import './settings/colors';
@import './settings/fonts';

// Tools
@import './tools/breakpoints';

// General
@import './general/shared';

// Elements
@import './elements/body';
@import './elements/headings';

// Objects
@import './objects/o-container';
@import './objects/o-social';
@import './objects/o-texts';

// Components
@import './components/c-nav';
@import './components/c-cards';
@import './components/c-newsletter';
@import './components/c-footer';

// Utilities