.c-cards {
    width: 100%;
    height: auto;
    position: relative;
}

.c-card {
    max-width: 370px;
    padding: 15px;
    margin: 0 auto;
}

.c-card__image {
    line-height: 0; 

    img {
        width: 100%;
    }
}

@include breakpoint(medium) {
    .c-cards {
        display: flex;
        flex-wrap: wrap;
    }
    
    .c-card {
        width: (100%/3);
        margin: 0;
    }
}

