nav {
  width: 100%;
  height: auto;
  position: relative;
}

/***********
NAV - FRONT
************/

.c-nav__front {
  display: flex;
  justify-content: space-between;
}

.c-nav__logo {
  position: relative;
  top: 41px;
  left: 0;
}

.c-nav__open {
  position: relative;
  right: 0;
  top: 45px;

  span {
    width: 25px;
    height: 2px;
    background-color: $gray-500;
    margin-top: 3px;
    display: block;
    transition: all 200ms ease;
  }
}

/***********
NAV - MAIN
************/
.c-nav__main {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -100%;
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  overflow: hidden;
}

.c-nav__main--open {
  right:0;
  transition: all 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.c-nav__main_bg {
  width: 100%;
  height: 100%;
  line-height: 0;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.c-nav__main_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.c-nav__close {
  position: relative;
  top: 52px;
  left: 28px;

  span {
    width: 30px;
    height: 2px;
    background-color: $white-900;
    display: block;
  }
}

.c-nav__close span:first-child {
  transform: rotate(45deg);
}

.c-nav__close span:nth-child(2) {
  transform: rotate(-45deg);
  margin-top: -2px;
}

.c-nav__close:hover {
  cursor: pointer;

  span {
    background-color: $aqua-500;
  }
}

.c-nav__menu_container {
  margin-top: 85px;
}

.c-nav__menu_links {
  text-transform: uppercase;
  list-style: none;
  padding-left: 0;
  margin-left: 70px;

  li {
    display: block;
    padding: 5px 0;
  }

  a {
    font-family: $font-secondary;
    font-size: 30px;
    font-weight: 900;
    color: $white-900;
    text-decoration: none;
    letter-spacing: 3px;   
  }
}

.c-nav__connects {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 70px;
  transition: all 500ms ease;
}

.c-nav__social .o-social {
  width: 160px;

  a {
    color: $white-900;
  }
}

.c-nav__contact {
  width: 200px;
  color: $white-900;
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.5pt;
  line-height: 1.55em;
  padding-top: 35px;

  span {
    display: inline;
    padding-right: 30px;
  }
}

@include breakpoint(medium) {
  .c-nav__front {
    margin: 0 auto;
  }

  .c-nav__open:hover {
    cursor: pointer;
    
    span {
      margin-top: 5px;
    }
  }

  .c-nav__main {
    width: 100%;
  }

  .c-nav__connects {
    display: block;
  }
}

@include breakpoint(769px) {
  .c-nav__main {
    width: 35%;
  }
}

@include breakpoint(769px, large) {
  .c-nav__connects {
    left: 50px;
  }
}
